{% extends 'layout.html' %}

{% block title %}Help{% endblock %}
{% block page_title %}Help{% endblock %}
{% block nav_help %}active{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
      Welkom bij de vernieuwde versie van onze webinterface waarop jij nog makkelijker alle producten kunt vinden die in de aanbieding zijn.
      Op de dashboard vind je alle producten van het merk waarin jij gekoppeld bent die in de aanbieding zijn. Heb je meer vragen? Neem dan
      contact met ons op door <strong><a href="https://alertje.nl/contact">hier</a></strong> te klikken.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
    Ons nieuwe client systeem is geopend en bevindt zich momenteel nog in BETA mode. We proberen zo snel mogelijk alle functies optimaal werkend te maken.
    
    </div>
</div>
{% endblock %}
